# {{projectName}}

{{description}}

<!-- status badges -->
{{#badges.status}}
{{.}}
{{/badges.status}}

<!-- consumer badges -->
{{#badges.consumer}}
{{.}}
{{/badges.consumer}}

<!-- contribution badges -->
{{#badges.contribution}}
{{.}}
{{/badges.contribution}}

{{#references}}
[{{key}}]: {{{value}}}
{{/references}}
