# {{projectName}}

{{description}}

<!--status-badges start -->
<!--status-badges end -->

{{^documentation.usage}}
<!--consumer-badges start -->
<!--consumer-badges end -->

{{/documentation.usage}}
{{#documentation.toc}}
## Table of Contents

{{{documentation.toc}}}

{{/documentation.toc}}
{{#documentation.usage}}
## Usage

<!--consumer-badges start -->
<!--consumer-badges end -->

{{{documentation.usage}}}

{{/documentation.usage}}
{{#documentation.contributing}}
## Contributing

{{/documentation.contributing}}
<!--contribution-badges start -->
<!--contribution-badges end -->
{{#documentation.contributing}}

{{{documentation.contributing}}}
{{/documentation.contributing}}
