# {{projectName}}

{{description}}

<!-- status badges -->
{{#badges.status}}
{{.}}
{{/badges.status}}

{{#documentation.toc}}
## Table of Contents

{{documentation.toc}}

{{/documentation.toc}}
{{#documentation.usage}}
## Usage

{{/documentation.usage}}
<!-- consumer badges -->
{{#badges.consumer}}
{{.}}
{{/badges.consumer}}
{{#documentation.usage}}

{{{documentation.usage}}}
{{/documentation.usage}}

{{#documentation.contributing}}
## Contributing

{{/documentation.contributing}}
<!-- contribution badges -->
{{#badges.contribution}}
{{.}}
{{/badges.contribution}}
{{#documentation.contributing}}

{{{documentation.contributing}}}
{{/documentation.contributing}}

{{#references}}
[{{key}}]: {{{value}}}
{{/references}}
